:host {
  width:40%;
  margin:0 auto;
  display:block;
  transform-style: preserve-3d;
  transform: translateZ(1000px) translateY(-600px);
  opacity: 0;
  animation: fallPerspective .8s ease-out forwards;
  position:relative;
  z-index:100;

  select {
    display:none;
  }

  .select {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-color:#fff;
    border:1px solid #eeeccc;
    border-radius: 6px;
    padding: 20px;
    cursor:pointer;

    .choice {
      width:80%;
    }
    .indicator {
      width:20px;
      height:auto;
    }
  }
  .options {
    position:absolute;
    width:100%;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);
    overflow:hidden;

    // &.collapsed {
    //   animation: dropit .8s ease-out forwards;
    // }

    .option {
      cursor:pointer;
      background-color:#fff;
      border-bottom:1px solid #eeecff;
      padding:20px;
      transition: all .4s ease-out;

      &.selected {
        background-color:#006381;
        color:#fff;
      }
    }
  }

}
@keyframes fallPerspective {
	100% {
    transform: translateZ(0px) translateY(0px);
    opacity: 1;
  }
}
@keyframes dropit {
	100% {
    // transform: translateZ(0px) translateY(0px);
    height:100%;
    opacity: 1;
  }
}
