<small [style.margin-bottom]="'10px'">Choose a Client</small>
<div class="select" (click)="toggleChoices()">
  <div class="choice">
    {{selection.name}}
  </div>
  <img [src]="'assets/Indicator.svg'" class="indicator"  />
</div>
<div [@expandCollapse]="{value: dropdownState, params:{min_height: minHeight}}" class="options">
  <div *ngFor="let option of options" (click)="setSelected(option)"
    [ngClass]="['option']"
    [class.selected]="option.selected"
    >
    {{option.name}}
  </div>
</div>
