:host {

  .outer {
    display:inline-block;
    float:left;
    flex-direction: row;
    flex-wrap: wrap;
    margin:-1px;
    transform-style: preserve-3d;
    transform: translateZ(1000px) translateY(-600px);
    opacity: 0;
    animation: dropin .8s ease-out forwards;
    cursor: pointer;

    &.single:hover {
      .inner {
        background-color: #006381;
        color: #fff;

        .icon {
          filter: invert(1);
        }

      }
    }

    .inner {
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
      background-color:#fff;
      border: 1px solid #ececec;
      text-align:center;
      transition: background .4s ease-in-out;
    }
    &.single {
      .inner {
        height:200px;
        width:200px;

        .title {
          width:60%;
          margin-top:16px;
          font-weight:500;
          font-size:14px;
          text-transform: uppercase;
        }

      }
    }

    &.double {
      .inner {
        height:200px;
        width:400px;

        .title {
          width:100%;
          margin-top:16px;
          font-weight:500;
          font-size:16px;
        }

        .content {
          font-size:12px;
        }
      }
    }
  }
}

@keyframes dropin {
	100% {
    transform: translateZ(-120px) translateY(0px);
    opacity: 1;
  }
}
