/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

body {
  margin:0px;
  padding:0px;
  background-image: url('./assets/background.jpg');
  font-family: 'Montserrat', sans-serif;

  h2 {
    font-family: 'Montserrat', sans-serif;
  }
  .underline {
    position:relative;
    cursor:pointer;
    font-weight:bold;
    display:inline-block;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom:0px;
      background-color: #000;
      visibility: hidden;
      -webkit-transform-origin: left;
      transform-origin:left;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.fall-in {
  transform-style: preserve-3d;
  transform: translateZ(1000px) translateY(-600px);
  opacity: 0;
  animation: fallPerspective .8s ease-out forwards;
}

@keyframes fallPerspective {
	100% {
    transform: translateZ(0px) translateY(0px);
    opacity: 1;
  }
}
